body{
    background-image: url(assets/fundoMenu.jpg);
    background-size: 1280px;
    background-size: 1024px;
}

h1{
    text-align: center;
    color: goldenrod;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px whitesmoke;
}

h3{
    text-align: center;
    color: goldenrod;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 4px 2px whitesmoke;
}

div{
    text-align: center;
}

input.livro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: goldenrod;

    background-color: indianred;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

input.usuario{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}